/*******************************************************************************
 * Variables
 ******************************************************************************/
:root {
  --PlaceholderColor: #5A5A5A;
  --WrapperBoxShadow: -5px -5px 10px 0 rgba(255,255,255,0.7), 5px 5px 10px 0 rgba(0,0,0,0.5);
  --WrapperOutline: solid 1px #A0A0A0;
  --BackgroundColorFlat: #D0D0D0;

  --BorderTopColorElevated: #FFF;
  --BorderRightColorElevated: #888;
  --BorderBottomColorElevated: #888;
  --BorderLeftColorElevated: #FFF;
  --BackgroundColorElevatedLow: #999;
  --BackgroundColorElevatedHi: #EEE;

  --BorderTopColorDowned: #444;
  --BorderRightColorDowned: #FFF;
  --BorderBottomColorDowned: #FFF;
  --BorderLeftColorDowned: #444;
  --BackgroundColorDownedLow: #777;
  --BackgroundColorDownedHi: #EEE;

  --BorderTopColorRedused: #888;
  --BorderRightColorRedused: #FFF;
  --BorderBottomColorRedused: #FFF;
  --BorderLeftColorRedused: #888;
  --BackgroundColorRedusedLow: #999;
  --BackgroundColorRedusedHi: #EEE;

  /*--------------------------------------------------------------------------*/
  --Border: 1px solid;
  --BorderColorElevated: var(--BorderTopColorElevated) var(--BorderRightColorElevated) var(--BorderBottomColorElevated) var(--BorderLeftColorElevated);
  --BackgroundElevated: -webkit-linear-gradient(to bottom, var(--BackgroundColorElevatedHi), var(--BackgroundColorElevatedLow));
  --BackgroundElevated: -moz-linear-gradient(top, var(--BackgroundColorElevatedHi), var(--BackgroundColorElevatedLow));
  --BackgroundElevated: -o-linear-gradient(top, var(--BackgroundColorElevatedHi), var(--BackgroundColorElevatedLow));
  --BackgroundElevated: linear-gradient(to bottom, var(--BackgroundColorElevatedHi), var(--BackgroundColorElevatedLow));
  --BackgroundElevatedVertical: linear-gradient(to right, var(--BackgroundColorElevatedHi), var(--BackgroundColorElevatedLow));
  --BorderColorDowned: var(--BorderTopColorDowned) var(--BorderRightColorDowned) var(--BorderBottomColorDowned) var(--BorderLeftColorRedused);
  --BackgroundDowned: -webkit-linear-gradient(to bottom, var(--BackgroundColorDownedLow), var(--BackgroundColorDownedHi));
  --BackgroundDowned: -moz-linear-gradient(top, var(--BackgroundColorDownedLow), var(--BackgroundColorDownedHi));
  --BackgroundDowned: -o-linear-gradient(top, var(--BackgroundColorDownedLow), var(--BackgroundColorDownedHi));
  --BackgroundDowned: linear-gradient(to bottom, var(--BackgroundColorDownedLow), var(--BackgroundColorDownedHi));
  --BorderColorRedused: var(--BorderTopColorRedused) var(--BorderRightColorRedused) var(--BorderBottomColorRedused) var(--BorderLeftColorRedused);
  --BackgroundRedused: -webkit-linear-gradient(to bottom, var(--BackgroundColorRedusedLow), var(--BackgroundColorRedusedHi));
  --BackgroundRedused: -moz-linear-gradient(top, var(--BackgroundColorRedusedLow), var(--BackgroundColorReduseddHi));
  --BackgroundRedused: -o-linear-gradient(top, var(--BackgroundColorRedusedLow), var(--BackgroundColorRedusedHi));
  --BackgroundRedused: linear-gradient(to bottom, var(--BackgroundColorRedusedLow), var(--BackgroundColorRedusedHi));
  --BackgroundRedusedVertical: linear-gradient(to right, var(--BackgroundColorRedusedLow), var(--BackgroundColorRedusedHi));
}

html, body {
  margin: 0px;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

#measuring {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

#Tips {
  position: absolute;
  border: solid 1px;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-bottom-color: #888888;
  border-right-color: #888888;
  background-color: #ffffbb;
  padding: 2px;
  font-size: 12;
}








/******************************************************************************/
.AnalogClock,
.AnalogClock canvas {
  width: 300px;
  height: 300px;
  padding: 0px;
}

.AnalogClock canvas:not(:first-child) {
  margin-top: -300px;
}

/******************************************************************************/
.Calendar {
  flex: 1 1 12.5%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  padding: 2px;
}

.CalendarHeader,
.CalendarWeekdays,
.CalendarWeek {
  margin: 1px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.CalendarHeader {
  margin: 5px;
  border: solid 1px #444444;
  border-radius: 10px;
  background-color: #aaaaaa;
}

.CalendarWeekday,
.CalendarDay {
  flex: 0 1 13.5%;
  margin: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: solid 1px #444444;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
  /* line-height: 1.25; */
}

.CalendarWeekday {
  cursor: default;
  background-color: #aaaaaa;
  font-weight: bold;
}

.CalendarDay {
  cursor: pointer;
}

.CalendarWeekend {
  color: #ff0000;
}

.CalendarOtherDay,
.CalendarOtherWeekend {
  border: solid 1px #888888;
}

.CalendarOtherDay,
.CalendarPastDay {
  color: #888888;
}

.CalendarOtherWeekend,
.CalendarPastWeekend {
  color: #ff8888;
}

.CalendarToday {
  border: solid 2px #FF0000;
  padding: 1px;
  font-weight: bold;
}