/*******************************************************************************
 * Variables
 ******************************************************************************/
:root {
  --PlaceholderColor: #5A5A5A;
  --WrapperBoxShadow: -5px -5px 10px 0 rgba(255,255,255,0.7), 5px 5px 10px 0 rgba(0,0,0,0.5);
  --WrapperOutline: solid 1px #A0A0A0;
  --BackgroundColorFlat: #D0D0D0;

  --BorderTopColorElevated: #FFF;
  --BorderRightColorElevated: #888;
  --BorderBottomColorElevated: #888;
  --BorderLeftColorElevated: #FFF;
  --BackgroundColorElevatedLow: #999;
  --BackgroundColorElevatedHi: #EEE;

  --BorderTopColorDowned: #444;
  --BorderRightColorDowned: #FFF;
  --BorderBottomColorDowned: #FFF;
  --BorderLeftColorDowned: #444;
  --BackgroundColorDownedLow: #777;
  --BackgroundColorDownedHi: #EEE;

  --BorderTopColorRedused: #888;
  --BorderRightColorRedused: #FFF;
  --BorderBottomColorRedused: #FFF;
  --BorderLeftColorRedused: #888;
  --BackgroundColorRedusedLow: #999;
  --BackgroundColorRedusedHi: #EEE;

  /*--------------------------------------------------------------------------*/
  --Border: 1px solid;
  --BorderColorElevated: var(--BorderTopColorElevated) var(--BorderRightColorElevated) var(--BorderBottomColorElevated) var(--BorderLeftColorElevated);
  --BackgroundElevated: -webkit-linear-gradient(to bottom, var(--BackgroundColorElevatedHi), var(--BackgroundColorElevatedLow));
  --BackgroundElevated: -moz-linear-gradient(top, var(--BackgroundColorElevatedHi), var(--BackgroundColorElevatedLow));
  --BackgroundElevated: -o-linear-gradient(top, var(--BackgroundColorElevatedHi), var(--BackgroundColorElevatedLow));
  --BackgroundElevated: linear-gradient(to bottom, var(--BackgroundColorElevatedHi), var(--BackgroundColorElevatedLow));
  --BackgroundElevatedVertical: linear-gradient(to right, var(--BackgroundColorElevatedHi), var(--BackgroundColorElevatedLow));
  --BorderColorDowned: var(--BorderTopColorDowned) var(--BorderRightColorDowned) var(--BorderBottomColorDowned) var(--BorderLeftColorRedused);
  --BackgroundDowned: -webkit-linear-gradient(to bottom, var(--BackgroundColorDownedLow), var(--BackgroundColorDownedHi));
  --BackgroundDowned: -moz-linear-gradient(top, var(--BackgroundColorDownedLow), var(--BackgroundColorDownedHi));
  --BackgroundDowned: -o-linear-gradient(top, var(--BackgroundColorDownedLow), var(--BackgroundColorDownedHi));
  --BackgroundDowned: linear-gradient(to bottom, var(--BackgroundColorDownedLow), var(--BackgroundColorDownedHi));
  --BorderColorRedused: var(--BorderTopColorRedused) var(--BorderRightColorRedused) var(--BorderBottomColorRedused) var(--BorderLeftColorRedused);
  --BackgroundRedused: -webkit-linear-gradient(to bottom, var(--BackgroundColorRedusedLow), var(--BackgroundColorRedusedHi));
  --BackgroundRedused: -moz-linear-gradient(top, var(--BackgroundColorRedusedLow), var(--BackgroundColorReduseddHi));
  --BackgroundRedused: -o-linear-gradient(top, var(--BackgroundColorRedusedLow), var(--BackgroundColorRedusedHi));
  --BackgroundRedused: linear-gradient(to bottom, var(--BackgroundColorRedusedLow), var(--BackgroundColorRedusedHi));
  --BackgroundRedusedVertical: linear-gradient(to right, var(--BackgroundColorRedusedLow), var(--BackgroundColorRedusedHi));
}

html, body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--BackgroundColorFlat);
}

#measuring {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.ToolBar {
  height: 5%
}

.DateTimePanel {
  border: var(--Border);
  border-color: var(--BorderColorRedused);
  height: 40%;
  padding: 3px;
}

.AnalogClock,
.AnalogClock canvas {
  width: 300px;
  height: 300px;
  padding: 0px;
}

.AnalogClock canvas:not(:first-child) {
  margin-top: -300px;
}

.Calendar {
  /* flex: 0 0 auto; */
  height: 54%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
}

.CalendarWeekdays,
.CalendarWeek {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4px;
}

.CalendarWeekday,
.CalendarDay {
  flex: 1 0 auto;
  margin: 2px;
  border: solid 1px #aaaaaa;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 1.25;
  font-size: 16px;
}

.CalendarWeekday {
  cursor: default;
  background-color: #aaaaaa;
  font-weight: bold;
}

.CalendarDay {
  cursor: pointer;
}

.CalendarWeekend {
  color: #ff0000;
}

.CalendarPastDay {
  color: #aaaaaa;
}

.CalendarPastWeekend {
  color: #ffaaaa;
}

.CalendarToday {
  border: solid 2px #FF0000;
  font-weight: bold;
}