html {
  background-color: transparent;
  margin: 0px;
  height: 100%;
  padding: 0px;
}

body {
  margin: 0;
  border-width: 2px;
  border-style: solid;
  border-top-color: #444444;
  border-right-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  border-left-color: #444444;
  background-color: #333333;
  padding: 2px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  color: black;
  font-size: 12px;
}

#measuring {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.HLayout {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.VLayout {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}