@charset "UTF-8";
body {
  margin: 2px;
  border: solid 2px;
  border-top-color: #888888;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  border-left-color: #888888;
  background: -moz-linear-gradient(left top, #eeeeee, #aaaaaa);
  background: -o-linear-gradient(left top, #eeeeee, #aaaaaa);
  background: -webkit-linear-gradient(to right bottom, #eeeeee, #aaaaaa);
  background: radial-gradient(ellipse at left top, #eeeeee, #aaaaaa);
  padding: 2px;
  min-width: 100vh;
  min-height: 100vh;
  color: black;
}

:root {
  --PlaceholderColor: #5A5A5A;
  --DisabledColor: #656565;
  --WrapperBoxShadow: -5px -5px 10px 0 rgba(255,255,255,0.7), 5px 5px 10px 0 rgba(0,0,0,0.5);
  --WrapperOutline: solid 1px #A0A0A0;
  --WinTitleBackgroundColor: #75c8ff;
  --FlatBackgroundColor: #D0D0D0;
  --LowBackgroundColor: #AAA;
  --HiBackgroundColor: #EEE;
  --ActiveLowBackgroundColor: #777;
  --ActiveHiBackgroundColor: #EEE;
  --UpBorderTopColor: #FFF;
  --UpBorderRightColor: #888;
  --UpBorderBottomColor: #888;
  --UpBorderLeftColor: #FFF;
  --ActiveBorderTopColor: #444;
  --ActiveBorderRightColor: #FFF;
  --ActiveBorderBottomColor: #FFF;
  --ActiveBorderLeftColor: #444;
  --DownBorderTopColor: #888;
  --DownBorderRightColor: #FFF;
  --DownBorderBottomColor: #FFF;
  --DownBorderLeftColor: #888;
  --Border: 1px solid;
  --UpBorderColor: var(--UpBorderTopColor) var(--UpBorderRightColor) var(--UpBorderBottomColor) var(--UpBorderLeftColor);
  --UpBackground: -moz-linear-gradient(top, var(--HiBackgroundColor), var(--LowBackgroundColor));
  --UpBackground: -o-linear-gradient(top, var(--HiBackgroundColor), var(--LowBackgroundColor));
  --UpBackground: -webkit-linear-gradient(to bottom, var(--HiBackgroundColor), var(--LowBackgroundColor));
  --UpBackground: linear-gradient(to bottom, var(--HiBackgroundColor), var(--LowBackgroundColor));
  --UpVerticalBackground: -o-linear-gradient(to right, var(--HiBackgroundColor), var(--LowBackgroundColor));
  --UpVerticalBackground: -moz-linear-gradient(to right, var(--HiBackgroundColor), var(--LowBackgroundColor));
  --UpVerticalBackground: -webkit-linear-gradient(to right, var(--HiBackgroundColor), var(--LowBackgroundColor));
  --UpVerticalBackground: linear-gradient(to right, var(--HiBackgroundColor), var(--LowBackgroundColor));
  --ActiveBorderColor: var(--ActiveBorderTopColor) var(--ActiveBorderRightColor) var(--ActiveBorderBottomColor) var(--ActiveBorderLeftColor);
  --ActiveBackground: -o-linear-gradient(top, var(--ActiveLowBackgroundColor), var(--ActiveHiBackgroundColor));
  --ActiveBackground: -moz-linear-gradient(top, var(--ActiveLowBackgroundColor), var(--ActiveHiBackgroundColor));
  --ActiveBackground: -webkit-linear-gradient(to bottom, var(--ActiveLowBackgroundColor), var(--ActiveHiBackgroundColor));
  --ActiveBackground: linear-gradient(to bottom, var(--ActiveLowBackgroundColor), var(--ActiveHiBackgroundColor));
  --DownBorderColor: var(--DownBorderTopColor) var(--DownBorderRightColor) var(--DownBorderBottomColor) var(--DownBorderLeftColor);
  --DownBackground: -o-linear-gradient(top, var(--LowBackgroundColor), var(--HiBackgroundColor));
  --DownBackground: -moz-linear-gradient(top, var(--LowBackgroundColor), var(--BackgroundColorDowndHi));
  --DownBackground: -webkit-linear-gradient(to bottom, var(--LowBackgroundColor), var(--HiBackgroundColor));
  --DownBackground: linear-gradient(to bottom, var(--LowBackgroundColor), var(--HiBackgroundColor));
  --DownVerticalBackground: -o-linear-gradient(to right, var(--LowBackgroundColor), var(--HiBackgroundColor));
  --DownVerticalBackground: -moz-linear-gradient(to right, var(--LowBackgroundColor), var(--HiBackgroundColor));
  --DownVerticalBackground: -webkit-linear-gradient(to right, var(--LowBackgroundColor), var(--HiBackgroundColor));
  --DownVerticalBackground: linear-gradient(to right, var(--LowBackgroundColor), var(--HiBackgroundColor));
}

html, body {
  margin: 0px;
  background: var(--DownBackground);
  /* background-color: transparent */
  width: 100%;
  height: 100%;
  padding: 0px;
}

#measuring {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.HLayout {
  /* margin: 2px */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.VLayout {
  /* margin: 2px */
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

#Tips {
  position: absolute;
  box-shadow: var(--WrapperBoxShadow);
  border: var(--Border);
  border-color: var(--UpBorderColor);
  background: #ffffaa;
  padding: 3px;
  font-size: 12;
}

.Button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  box-shadow: var(--WrapperBoxShadow);
  margin: 1px;
  border: var(--Border);
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 20px;
  padding: 1px 3px;
}

.Button:disabled {
  color: var(--DisabledColor);
}

.Button:not(:disabled):active {
  border-color: var(--ActiveBorderColor);
  background: var(--ActiveBackground);
}

.Button[status=up] {
  border-color: var(--UpBorderColor);
  background: var(--UpBackground);
}

.Button[status=down] {
  border-color: var(--DownBorderColor);
  background: var(--DownBackground);
}

.Dialog {
  position: absolute;
  left: 100px;
  top: 150px;
  box-shadow: var(--WrapperBoxShadow);
  border: var(--Border);
  border-color: var(--DownBorderColor);
  background-color: var(--FlatBackgroundColor);
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;
}

.Dialog-Title {
  background-color: var(--WinTitleBackgroundColor);
  width: calc(100% - 6px);
  height: 20px;
  padding: 1px 3px 1px 3px;
}

.Dialog-LayoutMessage {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: stretch;
}

.Dialog-LayoutButtons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.Dialog-Picture {
  flex: 0 0 auto;
  margin: 3px;
  width: 80px;
  height: 80px;
  background-image: url(/data/applications/pictures/Dialogs/qwestion.png);
  background-size: 80px 80px;
}

.Dialog-Message {
  flex: 1 1 auto;
  margin: 3px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.Dialog-Button {
  cursor: pointer;
  margin: 3px;
  border: solid 2px #888888;
  border-left-color: white;
  border-top-color: white;
  border-radius: 10px;
  background: radial-gradient(farthest-side ellipse at top left, white, #c7c7c7);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3), -5px -10px 20px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 25px;
  padding: 5px;
  font-size: 20px;
}

.Dialog-Button:active {
  background: radial-gradient(farthest-side ellipse at top left, #c7c7c7, white);
}

.Form {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.Form-Fields {
  margin: 1px 0px 1px 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.Form-Field-Label {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.Form-Field-Value {
  margin: 1px 1px 1px 5px;
  display: flex;
  flex-flow: row nowrap;
  border: var(--Border);
  border-color: var(--DownBorderColor);
  padding: 1px 3px 1px 3px;
  width: 100%;
  height: 16px;
}

.Form-Buttons {
  margin: 5px 2px 2px 2px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.Form-Button {
  margin-right: 5px;
}

.Splitter {
  border: solid 2px;
  border-color: var(--DownBorderColor);
  width: calc(100% - 10px);
  height: 100%;
  display: flex;
}

.Splitter-Panel1,
.Splitter-Panel2 {
  min-width: 10px;
  height: 100%;
  background: var(--DownBackground);
  display: flex;
}

.Splitter-Panel1 {
  width: 50%;
  order: 1;
}

.Splitter-Panel2 {
  width: 50%;
  order: 3;
}

.Splitter-Separator {
  cursor: col-resize;
  border: var(--Border);
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: var(--UpBorderColor);
  background: var(--DownBackground);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='13'><path d='M2 0 v3 M2 5 v3 M2 10 v3' fill='none' stroke='black'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  width: 5px;
  height: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  order: 2;
}

.shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}

@keyframes rotation {
  100% {
    transform: rotate(var(--val));
    /* transform: rotate(270deg) */
  }
}
.Gauge {
  margin: 2px;
  border: var(--Border);
  border-radius: 5px;
  border-color: var(--DownBorderColor);
  width: 100%;
  height: 80px;
}

.Gauge-Normal {
  stroke: lime;
  fill: lime;
}

.Gauge-Warning {
  stroke: gold;
  fill: gold;
}

.Gauge-Critical {
  stroke: #ff0000;
  fill: #ff0000;
}

.Gauge-Scale {
  fill: transparent;
}

.Gauge-Needle {
  stroke: #000000;
  fill: #000000;
  transform-origin: 50%;
  transform: rotate(var(--val));
  /* animation: rotation .5s linear */
}

.Gauge-Text {
  color: #000000;
  fill: #000000;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}

.Gauge-Scale-Digits {
  fill: #000000;
  font-size: 0.65em;
}

.Gauge-Percents {
  /* font-weight: bold */
  font-size: 0.85em;
}

.Gauge-Text1,
.Gauge-Text2,
.Gauge-Text3 {
  font-size: 0.75em;
}

.ProgressBar {
  margin: 4px;
  border: var(--Border);
  border-radius: 10px;
  border-color: var(--DownBorderColor);
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% - 15px);
  height: 18px;
  font-size: small;
  font-weight: bold;
  white-space: nowrap;
  color: #0000aa;
  overflow: hidden;
}

.ProgressBar-Vertical {
  margin: 1px;
  border-radius: 3px;
  flex-flow: row nowrap;
  align-items: flex-end;
  height: calc(100% - 15px);
  width: 100%;
  /* width: 18px */
}

.ProgressBar-Normal,
.ProgressBar-Warning,
.ProgressBar-Critical {
  margin: 1px 1px 1px 1px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: calc(100% - 4px);
  border: var(--Border);
  border-radius: 10px;
  border-color: var(--UpBorderColor);
  height: calc(100% - 2px);
  padding: 0px 3px 0px 3px;
}

.ProgressBar-Vertical-Normal,
.ProgressBar-Vertical-Warning,
.ProgressBar-Vertical-Critical {
  border-radius: 3px;
  align-items: center;
  justify-content: flex-end;
  padding: 3px 0px 3px 0px;
}

.ProgressBar-Normal {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)), lime;
}

.ProgressBar-Vertical-Normal {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)), lime;
}

.ProgressBar-Warning {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)), linear-gradient(to right, lime, yellow);
}

.ProgressBar-Vertical-Warning {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)), linear-gradient(to top, lime, yellow);
}

.ProgressBar-Critical {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)), linear-gradient(to right, lime, yellow, red);
}

.ProgressBar-Vertical-Critical {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)), linear-gradient(to top, lime, yellow, red);
}

.Tree {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px;
  width: 100%;
}

.Tree-Header {
  cursor: default;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.Tree-Header-Toggler,
.Tree-Header-Toggler-Expanded {
  padding-right: 3px;
}

.Tree-Header-Toggler::before,
.Tree-Header-Toggler-Expanded::before {
  content: "▶";
}

.Tree-Header-Toggler-Expanded {
  transform: rotate(90deg);
}

.Tree-Header-Name {
  font-weight: bold;
}

.Tree-Item {
  cursor: default;
  flex: 0 0 auto;
  margin: 1px 1px 1px 15px;
  border-width: 1px;
  border-style: none;
  border-bottom-style: dashed;
  border-color: #888888;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% - 30px);
  padding: 1px 3px 1px 3px;
}

.Tree:last-child {
  border-style: none;
}

.Tree-Item:hover {
  border-style: dashed;
  border-color: #555555;
}

.Item {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.AnalogClock,
.AnalogClock canvas {
  width: 300px;
  height: 300px;
  padding: 0px;
}

.AnalogClock canvas:not(:first-child) {
  margin-top: -300px;
}

.Calendar {
  flex: 1 1 12.5%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  padding: 2px;
}

.Calendar-Header,
.Calendar-Weekdays,
.Calendar-Week {
  margin: 1px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.Calendar-Header {
  margin: 5px;
  border: solid 1px #444444;
  border-radius: 10px;
  background-color: #aaaaaa;
}

.Calendar-Weekday,
.Calendar-Day {
  flex: 0 1 13.5%;
  margin: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: solid 1px #444444;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
  /* line-height: 1.25 */
}

.Calendar-Weekday {
  cursor: default;
  background-color: #aaaaaa;
  font-weight: bold;
}

.Calendar-Day {
  cursor: pointer;
}

.Calendar-Weekend {
  color: #ff0000;
}

.Calendar-OtherDay,
.Calendar-OtherWeekend {
  border: solid 1px #888888;
}

.Calendar-OtherDay,
.Calendar-PastDay {
  color: #888888;
}

.Calendar-OtherWeekend,
.Calendar-PastWeekend {
  color: #ff8888;
}

.Calendar-Today {
  border: solid 2px #FF0000;
  padding: 1px;
  font-weight: bold;
}

.Chronos {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.CronList,
.CronForm {
  padding: 3px;
  overflow: auto;
}

.CronList {
  width: 30%;
}

.CronList-Item-Name {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.CronList-Item-Descr {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: small;
}

.CronForm {
  width: calc(70% - 6px);
}

.CronForm-Start:empty:not(:focus):before {
  color: var(--PlaceholderColor);
}
.CronForm-Start {
  margin: 2px;
  border: var(--Border);
  border-color: var(--DownBorderColor);
  width: calc(100% - 10px);
}

.CronForm-Spoiler {
  margin: 2px;
  border: var(--Border);
  border-color: var(--UpBorderColor);
  width: calc(100% - 10px);
}

.CronForm-Spoiler-Header {
  margin-bottom: 2px;
}

.CronForm-Spoiler-Header-ClearButton {
  margin-left: auto;
  box-shadow: none;
  width: 20px;
  color: red;
}

.CronForm-Spoiler-Header-ClearButton:not(:disabled):hover {
  border-color: var(--UpBorderColor);
  background: var(--UpBackground);
  font-weight: bold;
}

.CronForm-Spoiler-Header-ClearButton[status=up] {
  border-color: #888888;
  background: transparent;
}

.CronForm-Spoiler-Header-ClearButton[status=down] {
  border-color: var(--ActiveBorderColor);
  background: var(--ActiveBackground);
}

.CronForm-Spoiler-Header-ClearButton::before {
  content: "X";
}

.CronForm-Spoiler-Panel {
  margin: 0px;
  border: var(--Border);
  border-color: var(--DownBorderColor);
  padding: 3px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  width: calc(100% - 8px);
}

.CronForm-Spoiler-Row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.CronForm-Spoiler-Cell {
  cursor: pointer;
  flex: 1 0 auto;
  margin: 1px;
  border: var(--Border);
  border-color: #888888;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.CronForm-Spoiler-Cell[status=down] {
  background-color: var(--WinTitleBackgroundColor);
}

.CronForm-Spoiler-WeekDaysButton {
  flex: 1 0 auto;
  box-shadow: none;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.CronForm-Spoiler-WeekDaysButton[status=up],
.CronForm-Spoiler-WeekDaysButton[status=down],
.CronForm-Spoiler-WeekDaysButton:active {
  border-color: #888888;
  background: transparent;
}

.CronForm-Spoiler-WeekDaysButton::before {
  content: "▶";
}

.CronForm-Spoiler-WeekDaysButton[status=down]::before {
  transform: rotate(90deg);
}

.CronForm-Spoiler-Cell-Weekday {
  cursor: pointer;
  flex: 0 1 13.5%;
  margin: 0px 1px 0px 1px;
  border: var(--Border);
  border-color: #888888;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.CronForm-Spoiler-Cell-Weekday {
  font-weight: bold;
}

.CronForm-Spoiler-Cell-Weekend {
  color: #ff0000;
}

.CronForm-Spoiler-PlayPanel {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 6px);
  padding: 2px;
}

.PlayPanel-Media {
  margin-left: 2px;
  border: var(--Border);
  border-color: var(--FlatBorderColor);
  padding: 1px 3px 1px 3px;
}

.PlayPanel-PlayButton,
.PlayPanel-ChoiseButton {
  margin-left: 2px;
  width: 20px;
}