body {
  margin: 0px;
  padding: 0px;
}

#UpdateButton {
  position: absolute;
  right: 5px;
  top: 5px;
}

#Tips {
  position: absolute;
  border: solid 1px;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-bottom-color: #888888;
  border-right-color: #888888;
  background-color: #ffffbb;
  padding: 2px;
  font-size: 12;
}

.Home {
  border: solid 1px;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-bottom-color: #888888;
  border-right-color: #888888;
  background-color: #bbbbbb;
  padding: 3px;
}

.Home svg {
  width: 800px;
  height: 700px;
}

.Zone {
  stroke: #444444;
  fill: transparent;
}

.ZoneName {
  fill: blue;
  font-size: 12;
}

.Sensor,
.Relay,
.Button {
  position: absolute;
  border: solid 1px;
  background-color: #bbbbbb;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  padding: 2px;
  height: 20px;
  width: 20px;
  font-size: 9;
  text-align: center;
}

.Sensor {
  border-color: #444444;
}

.Relay,
.Button {
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-bottom-color: #888888;
  border-right-color: #888888;
}

.Relay:active,
.Button:active {
  border-top-color: #888888;
  border-left-color: #888888;
  border-bottom-color: #ffffff;
  border-right-color: #ffffff;
}

.LightModeButtonOn {
  background-image: url('Light-Bulb-On.png')
}

.LightModeButtonOff {
  background-image: url('Light-Bulb-Off.png')
}

.LightSensorOn {
  background-image: url('Sun.png')
}

.LightSensorOff {
  background-image: url('Moon.png')
}

.LightRelayOn {
  background-image: url('Light-Bulb-On.png')
}

.LightRelayOff {
  background-image: url('Light-Bulb-Off.png')
}

.DoorBellModeButtonOn {
  background-image: url('Bell-On.png')
}

.DoorBellModeButtonOff {
  background-image: url('Bell-Off.png')
}

.DoorBellRelayOn {
  background-image: url('Bell-On.png')
}

.DoorBellRelayOff {
  background-image: url('Bell-Off.png')
}

.MotionDetectorOn {
  background-image: url('Running-Man1.png')
}

.MotionDetectorOff {
  background-image: url('Standing-Man.png')
}

#OutDoor {
  background-color: #bbbbff;
}

#Toilet {
  background-color: #ffbbbb;
}

#Kitchen {
  background-color: #ffffbb;
}

#Hall {
  background-color: #bbffbb;
}

#Bathroom {
  background-color: #ffbbbb;
}

#Bedroom1, #Bedroom2 {
  background-color: #bbbbdd;
}
