@import "../../../../lib/form/Form.sass"
@import "../../../../lib/tabs/Tabs.sass"
@import "../../../../lib/table/Table.sass"
@import "../../../../lib/progressbar/ProgressBar.sass"
@import "../../../../lib/gauge/Gauge.sass"

.MonitorIT
	width: 100%
	height: 100%

	&-Error
		display: flex
		flex-flow: row nowrap
		align-items: center
		justify-content: center
		width: 100%
		height: 100%
		font-size: x-large
		color: red

.TableMonitorIT
	&-TabNetworks
		&-ColumnName
			width: 120px
		&-ColumnNetwork
			width: 120px
		&-ColumnGateway
			width: 120px
		&-ColumnDisabled
			width: 120px
		&-ColumnDescription
			width: 300px

	&-TabNodes
		&-ColumnName
			width: 120px

		&-ColumnOS
			width: 100px

		&-ColumnAuth
			width: 100px

		&-ColumnDescription
			width: 300px
