<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ .Application }}</title>
  <link rel="icon" type="image/png" href="favicon.png" />
  <link rel="stylesheet" type="text/css" media="screen" href="./{{ .Style }}.css">
  <script type="module" src="./main.js"></script>
</head>
<body></body>
</html>
